# -*- mode: rjsx-mode -*-
# name: class
# key: cla
# group: OOP
# author: Laura Viglioni
# --

class ${1:ClassName} ${2:extends ${3: ClassParent}} {
      ${4:public constructor($5) {$6\}}
      $0
}


